@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-bg{
 background-image: linear-gradient(-225deg, #cbbacc 0%, #a2bac7 100%);
}
.brower-mockup-h{
  height: 440px;
}
.border-color{
  border: #f8f8f8
}
.price-bg{
  
  background-image: linear-gradient(-225deg, #cbbacc 0%, #217bac 100%);
}
.button-bg{
  background-image: linear-gradient(-225deg, #edd882 0%, #da811c 100%);
}